.cart-content-pj {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.cart-table-btn-pj {
	margin: auto;
	padding: 5px 5px 5px 5px;
	width: 50px;
	height: 50px;
	/* 기본테두리 없애기 */
	border: none;
	/* 클릭시 나오는 테두리 없애기 */
	outline: none;
	background-color: transparent;
}

.cart-btn-pj {
	width: 50px;
	height: 50px;
}


.cart-content-box-pj {
	width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgray;
	padding: 2px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: white;
	/* overflow: hidden; */
}

.cart-header-pj {
	width: 100%;
	height: 50px;
	display: flex;
	column-gap: 10px;
	/* justify-content:center; */
	align-items: center;
	background: lightgray;
	margin-bottom: 5px;
	font-size: 20px;
	color: black;
	border-radius: 5px 5px 0 0;
}

#cart-check-totalbtn-pj {
	padding: 5px;
	height: 30px;
}

.cart-items-pj {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-item-pj {
	width: 100%;
	display: flex;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.cart-item-pj:last-of-type {
	border-bottom: 0;
	margin-bottom: 0;
}

.cart-item-img-pj {
	width: 200px;
	height: 200px;
	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
}
.cart-checkbox-pj{
	width: 25px;
	height: 100%;
}

.swiper-slide{
	width: 200px;	
	height: 200px;
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
}


.cart-item-textbox-pj {
	width: 100%;
	font-size: 25px;
	display: flex;
/* 	justify-content: space-between; */
	align-items: center;
}

.cart-item-name-pj {
	height: 100%;
	width: 300px;
	padding-top: 20px;
	padding-left: 20px;
}
.cart-productname-pj{
	font-size: 23px;
}
.cart-optionsname-pj{
	font-size: 18px;
	padding-top: 10px;
	color:gray;
}
.cart-optionsprice-pj{
	font-size: 18px;
	color: gray;
}

.cart-item-count-pj {
	height: 100%;
	width: 200px;
	padding-top: 50px;
}

.cart-item-amount-pj {
	height: 100%;
	width: 250px;
	padding-top: 50px;
}

.cart-item-amount-pj > input{
	text-align: right;
	font-size: 25px;
	width: 200px;
	border: none;
}
.cart-item-amount-pj > input:focus{
	outline:none;
}


.cart-item-icon-pj {
	height: 100%;
	width: 220px;
	padding-top: 20px;
}

.cart-item-icon-pj>button {
	padding: 10px 10px;
	height: 50px;
	width: 200px;
	margin-bottom: 5px;
}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
}

.number-input {
	border: 0;
	display: inline-flex;
}

.number-input, .number-input * {
	box-sizing: border-box;
}

.number-input button {
	outline: none;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	margin: 0;
	position: relative;
	box-shadow: 0px 0px 1px #474747;
	border-radius: 50%;
	display: inline;
}

.number-input button:before, .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 1rem;
	height: 2px;
	background-color: #212121;
	transform: translate(-50%, -50%);
}

.number-input button.plus:after {
	transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
	font-family: sans-serif;
	max-width: 5rem;
	padding: .5rem;
	border: none;
	border-width: 0 2px;
	font-size: 2rem;
	height: 3rem;
	font-weight: bold;
	text-align: center;
	color: #9be3df;
}

.cart-footer-pj {
	width: 100%;
	height: 80px;
	background: lightgray;
	border-radius: 0 0 5px 5px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-total-amount-pj{
	text-align:right;
	width: 100%;
	margin-right: 10px;
}
.cart-total-buy-pj{
	width: 200px;
	height: 50px;
	padding: 5px 10px 5px 10px;
	margin-right: 10px;	
}



