#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  background: #eee;
}
/* 전체로 안먹는 것들은 별도로 지정하여 폰트 적용 */
input,
select,
textarea,
button {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
}

header {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  /* 영역확인용 */
  /* background-color: pink; */
}

.header-pj {
  /* margin : 1번째는 위에서거리 2번째는 오른쪽 3번째는 아래 4번째는 왼쪽 */
  width: 1200px;
  height: 140px;
  /* div로 설정되어 잇는 것들을 공간 낭비를 없애고 겹치게 해준다 */
  display: flex;
  /* 문단기준으로 골고루 시작과 끝 사이에 균등 분배 */
  justify-content: space-between;
  /* 영역확인용 */
  /* background-color: blue; */
}

.logo-pj {
  width: 200px;
  height: 100%;
  display: flex;
  /* 영역 확인용  */
  /* background: red; */
}

.login-box-pj {
  width: 200px;
  height: 100%;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;

  /* 영역확인용 */
  /* background-color: green; */
}

.login-pj > a {
  text-decoration: none;
  color: black;
}

.login-pj {
  margin-right: -100px;
  padding: 10px 0 0 0;
  color: black;
  font-size: 30px;
}

.center-box-pj {
  width: 50%;
  height: 100%;
  /* 영역확인용 */
  /* background-color: pink; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box-pj {
  margin: 0 auto;
  background-color: lightgray;
  border: 1px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar-pj {
  width: 70%;
  height: 50px;
  font-size: 35px;
  border-radius: 25px, 25px;
  margin-right: 4px;
  background: lightgray;
  /* 기본테두리 없애기 */
  border: none;
  /* 클릭시 나오는 테두리 없애기 */
  outline: none;
  /* 영역확인용 */
  /* background: red; */
}

#search-button-pj {
  /* 기본테두리 없애기 */
  border: none;
  border-radius: 25px;
  /* 클릭시 나오는 테두리 없애기 */
  outline: none;
  background-color: lightgray;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.navbar-pj {
  margin: 0px auto;
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  /* 테두리를 아래만 설정: 굵기, 종류, 색깔 */
  border-top: 2px solid;
  border-bottom: 2px solid;

  /* 영역확인용 */
  /* background-color: white; */
}

.menu-bar-pj {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* 	background-color: #f3f3f3; */
  display: flex;
}

.menu-bar-pj > li {
  height: 100%;
}

.menu-box-pj {
  height: 100%;
}

.menu-box-pj > a,
button {
  color: black;
  height: 100%;
  font-size: 16px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-box-pj > a {
  text-decoration: none;
}

/* 현재 있는 페이지 메뉴에 클래스에 active 속성 먹이기 */
.menu-box-pj > a.active {
  background: pink;
}
.menu-box-pj > a.hover {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.dropdown-pj {
  position: relative;
}

.dropbtn-pj {
  background-color: transparent;
  /* color: white; */
  border: none;
}

.dropdown-content-pj {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  top: 50px;
  left: 0;
}

.dropdown-content-pj a {
  color: #666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-pj a:hover {
  /* 	background-color: #eee; */
  background-color: lightgray;
  color: black;
  text-decoration: none;
}

.dropdown-pj:hover .dropdown-content-pj {
  display: block;
}

.menu-box-pj:hover > a,
.menu-box-pj:hover > .dropbtn-pj {
  background-color: lightgray;
  color: black;
}

/* 메인 css */
section {
  width: 1200px;
  height:auto;
  min-height:700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
