/* 찜 목록 */
.like-content-pj {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.like-table-btn-pj {
	margin: auto;
	padding: 5px 5px 5px 5px;
	width: 50px;
	height: 50px;
	/* 기본테두리 없애기 */
	border: none;
	/* 클릭시 나오는 테두리 없애기 */
	outline: none;
	background-color: transparent;
}

.like-btn-pj {
	width: 50px;
	height: 50px;
}
.likelist-checkbox-pj{
	width: 30px;
	height: 100%;
}


.swiper-slide{
	width: 200px;	
	height: 200px;
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
}

.detail-image-box-pj {
	width: 250px;
	min-width: 250px;
	height: 200px;
	min-height: 200px;
	display: flex;
}

.like-content-box-pj {
	width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgray;
	padding: 2px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: white;
	/* overflow: hidden; */
}

.like-header-pj {
	width: 100%;
	height: 50px;
	display: flex;
	column-gap: 10px;
	/* justify-content:center; */
	align-items: center;
	background: lightgray;
	margin-bottom: 5px;
	font-size: 20px;
	color: black;
	border-radius: 5px 5px 0 0;
}

#like-check-totalbtn-pj {
	padding: 5px;
	height: 30px;
}

.like-items-pj {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.like-item-pj {
	width: 100%;
	display: flex;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.like-item-pj:last-of-type {
	border-bottom: 0;
	margin-bottom: 0;
}

.like-item-img-pj {
	width: 200px;
	height: 200px;
	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
}

.like-item-textbox-pj {
	width:100%;
	font-size: 25px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	background-color: white;
}

.like-item-name-pj {
	height: 200px;
	width: 800px;
	padding-top: 20px;
	padding-left: 20px;
}

.likelist-name-pj{
	font-size: 30px;
}
.likelist-option-pj{
	padding-top:10px;
	font-size: 25px;
	color: gray;
}
.likelist-option-price-pj{
	font-size: 25px;
	color: gray;
	
}

.like-item-icon-pj {
	height: 100px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;

}

.like-item-icon-pj>button {
	padding: 10px 10px;
	height: 50px;
	width: 200px;
	margin-bottom: 5px;
}